body{
    background: linear-gradient(yellow,red);
}
h1{
    /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(to bottom, rgb(16, 23, 152), rgb(180, 162, 70), rgb(224, 64, 192));
  
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
}
.titulo-meta{

  
}
    
