@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Golos+Text&family=Poppins:wght@300;400;500;700&display=swap');

body{
  background: linear-gradient(#ff000086,#478347b0,#9b9bd79c,white);
  font-family: Bebas Neue;
}

h1{
  color: #00ffff;
  font-size: 30px;
}

h2{
  color: #7fff00;
  font-size: 25px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 15px;
}
